<%- include("../partials/header.ejs") %>
	<div class="container d-flex justify-content-center align-items-center mt-5">
		<div class="row">
			<div class="col-md-3 col-xl-4"></div>
			<div class="col-md-6 col-xl-4">
				<h1 style="text-align:center; color: white;">
					Edit Book
				</h1>
				<div class="card shadow p-3 m-3">
					<form action="/student/book/<%= book._id %>?_method=PUT" method="POST">
						<div class="mb-3">
							<label class="form-label" for="B_Name"><b>Book Name</b></label>
							<input class="form-control" type="text" name="B_Name" value="<%= book.B_Name %>">
						</div>
						<div class="mb-3">
							<label class="form-label" for="B_Author"><b>UserName</b></label>
							<input class="form-control" type="text" name="B_Author" value="<%= book.B_Author %>">
						</div>
						<div class="mb-3">
							<label class="form-label" for="B_Subject"><b>Subject</b></label>
							<input class="form-control" type="text" name="B_Subject" value="<%= book.B_Subject %>">
						</div>
						<div class="form-group text-center">
							<button class="btn btn-primary">Submit!</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-3 col-xl-4"></div>
		</div>
	</div>
	<%- include("../partials/footer.ejs") %>
