<%- include("../partials/header.ejs") %>
<div class="container d-flex justify-content-center align-items-center mt-5">
	<div class="row">
		<div class="col-md-6 offest-md-3 col-xl-4 offset-xl-4">
			<h1 style="text-align:center; color: white;">
				Edit Book
			</h1>
			<div class="card shadow p-2">
			<form action="/student/book/<%= book._id %>?_method=PUT" method="POST">
				<div class="mb-3">
					<label class="form-label" for="B_Name">Book Name</label>
					<input class="form-control" type="text" name="B_Name" value="<%= book.B_Name %>">
				</div>
				<div class="mb-3">
					<label class="form-label" for="B_Author">UserName</label>
					<input class="form-control" type="text" name="B_Author" value="<%= book.B_Author %>">
                </div>	
                <div class="mb-3">
					<label class="form-label" for="B_Subject">Subject</label>
					<input class="form-control" type="text" name="B_Subject" value="<%= book.B_Subject %>">
				</div>	
				<br>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit!</button>
				</div>
			</form>
		</div>		
	</div>
</div>
</div>
<%- include("../partials/footer.ejs") %>