<%- include("../partials/header") %>
	<div class="container">
		<header class="jumbotron">
			<div class="container" style="text-align:center; color: white;">
				<h1>
					All Assignments!
				</h1>
			</div>
		</header>
		<div class="row text-center" style="display:flex; flex-wrap:wrap;">
			<% assignments.forEach(function(a){ %>
				<div class="col-md-3 col-sm-6 border border-dark p-4" style="background-color: white;">
					<div class="thumbnail">
						<div class="caption">
							<h4>
								Subject:<%= a.A_Subject %>
							</h4>
						</div>
						<div class="caption">
							<h4>
								Time: <%= a.A_Time %>
							</h4>
						</div>
						<div class="caption">
							<h4>
								<% months=["January", "February" , "March" , "April" , "May" , "June" , "July"
									, "August" , "September" , "October" , "November" , "December" ] %>
									Date:<%= a.A_Date.getDate()%>
										<%= months[a.A_Date.getMonth()]%>
											<%= a.A_Date.getFullYear()%>
							</h4>
						</div>
						<button type="button" id="myEdit" class="btn btn-success mr-2">Edit</button>
						<button type="button" id="myDelete" class="btn btn-danger ml-2">Delete</button>
						<script type="text/javascript">
							document.getElementById("myEdit").onclick = function () {
								location.href = "/student/assignment/<%=a._id %>/edit";
							};
							document.getElementById("myDelete").onclick = function () {
								location.href = "/student/assignment/<%=a._id %>/delete";
							};
						</script>
					</div>
				</div>
				<% }) %>
		</div>

	</div>

	<%- include("../partials/footer") %>
